* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

.big_container {
    width: 100%;
}

header {
    /* SIZING */
    margin:  10px auto;
    padding: 30px 0;

    /* STYLING */
    background: #ebebeb;
}


nav {
    /* sizing */
    margin:  10px auto;
    padding: 30px 0;

    /* STYLING */
    background: #ebebeb;    
}

.container {

    /* sizing */
    height: 240px;
    width: 960px;
    margin: 20px auto;
    display: flex;
}

section {
    /* sizing */
    width: 495px; 
    height: 210px;
    margin-right: 10px;
    padding: 30px 0 0 0;

    /* styling */
    background: #ebebeb;  
}

article {
    /* sizing */
    height: 140px;
    margin: 20px 10px 10px;
    padding-top: 20px;
    /* styling */
    color: #ebebeb;
    background: #777;
}

h1, p {
    color: #777;
    background: #ebebeb;
    padding: 10px;
    margin: 10px 20px;
}

aside {
    /* sizing */
    width: 445  px;
    height: 210px;
    margin-left: 10px;
    padding: 30px 0 0 0;

    /* styling */
    background: #ebebeb;
}

footer {
    /* sizing */
    margin:  10px auto;
    padding: 30px  0;

    /* styling */
    background: #ebebeb;    
}


